


@media screen and (min-width: 576px) {

.menu{
    padding: 0 15px;
}
.menu-mobile{
    display: none;
}
.menu-web {
    height: 44px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-web li {
    font-size: 19px;
    align-items: center;
    line-height: 23.75px;
}
a {
text-decoration: none;
    color: unset;
}
.red {
    color: #C3170C;
}
.blue {
    color: #1E4B9B;
}
.dark-green{
    color: #006766;
}
.green {
    color: #07AA47;
}
.orange-dark{
    color: #E3662B;
}
.pink-red{
    color: #FB0735;
}
.pink{
    color: #FF75BB;
}
.orange {
    color: #EC7D00;
}
.gray {
    color: #323333;
}
.violet{
    color: #A81D83;
}

.body-news {
    flex-direction: column;
    padding-top: 36px;
    max-width: 1250px;
}
.logo-img{
    background-image: url("./img/logo-desktop.jpeg");
}
.principal-news{
    width: 100%;
}
.principal-news img{
    width: 193px;
}
.h1{
    font-size: 42px;
    line-height: 55px;
    padding-top: 34px;
    padding-bottom: 29px;
}
.manchete p{
    line-height: 22.5px;
    color: #303134;
    font-weight: 500;

}
.noticia-com-imagens{
    display: flex;
    height: 338px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;

}

.noticia-com-imagens .card-principal .titulo-da-foto{
    width: 192px;
}

.noticia-com-imagens .card-principal .texto-underphoto{
    width: 192px;
}

.texto-underphoto{
    border-bottom: none;
    font-size: 14px;
    letter-spacing: -0.048em;
    color: #2F3134;
}
.card-principal{
    border-bottom: none;
}

.noticia-e-foto{
    flex-direction: column;
}
.foto img{
    width: 193px;
    border-radius: 12px;
    margin: 0;

}
.titulo-da-foto{
    font-size: 20px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 240px;
}
.titulo-da-foto p{
    color: #C4170C ;
    line-height: 18px;
    padding-top: 11px;

}
.noticias-texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 227px;
}
.bloco-texto{
    width: 192px;
    font-size: 20px;
    letter-spacing: -0.045em;
        color: #2F3134;
}
.tema {
    color: #C4170C;
    line-height: 18px;
    margin-top: 0;
    letter-spacing: -0.02em;
    margin-bottom: 6px;
}
.esporte-fofoca{
    display: flex;
    flex-direction: column;
}
.block-text-img {
    flex-direction: column;
    align-items: start;
}
.esporte .titulo-da-foto p{
    color: #16AE54;
}
.esporte{
    width: 100%;
    border-right: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
}
.titulo-da-foto p{
    color: #EC8006;
}
.esporte .caixa-fofoca{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.fofoca{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imgnews-maior img{
    width: 240px;
    border-radius: 12px;
    margin-right: 0;
}

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1250px) {

.container-geral{
    align-items: center;
}

.logo-img{
    background-image: url("./img/logo-desktop.jpeg");
    width: 171px;
    height: 36px;
}
.menu{
    justify-content: center;
    display: flex;
}
.menu-mobile{
display: none;
}
.menu-web {
    width: 1250px;
    height: 44px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-web li {
    font-size: 19px;
    align-items: center;
    line-height: 23.75px;
}
a {
text-decoration: none;
    color: unset;
}
.red {
    color: #C3170C;
}
.blue {
    color: #1E4B9B;
}
.dark-green{
    color: #006766;
}
.green {
    color: #07AA47;
}
.orange-dark{
    color: #E3662B;
}
.pink-red{
    color: #FB0735;
}
.pink{
    color: #FF75BB;
}
.orange {
    color: #EC7D00;
}
.gray {
    color: #323333;
}
.violet{
    color: #A81D83;
}
.body-news {
    flex-direction: row;
    padding-top: 36px;
    width: 1250px;
    justify-content: space-between;
}
h1{
    font-size: 52px;
    line-height: 67px;
}
.principal-news{
    width: 50%;
    
}
.manchete{
    padding-bottom: 25px;
}
.esporte-fofoca{
    width: 50%;
    flex-direction: row;
    padding-left: 36px;
}
.esporte{
    flex-direction: column;
    margin: 0;
    border-left: 1px solid #e6e6e6;
}
.esporte .caixa-fofoca{
    margin: 0 35px;
    
}
.fofoca{
    flex-direction: column;
    margin-left: 36px;
    justify-content:start;
}
}