


@media screen and (min-width: 576px) {
    .container-geral{

     max-width: 992px;
    }

    .menu-mobile{
        display: none;
    }
    .menu-web {
    height: 44px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .menu-web li {
    font-size: 19px;
    align-items: center;
    line-height: 23.75px;
    }
    a {
    text-decoration: none;
    color: unset;
    }
    .red {
    color: #C3170C;
    }
    .blue {
    color: #1E4B9B;
    }
    .dark-green{
    color: #006766;
    }
    .green {
    color: #07AA47;
    }
    .orange-dark{
    color: #E3662B;
    }
    .pink-red{
    color: #FB0735;
    }
    .pink{
    color: #FF75BB;
    }
    .orange {
    color: #EC7D00;
    }
    .gray {
    color: #323333;
    }
    .violet{
    color: #A81D83;
    }

    .body-news {
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
    }
    .logo-img{
        background-image: url("./img/logo-desktop.jpeg");
    }
    .principal-news{
        width: 666px;
    }
    .manchete{
        height: 346px;
    }
    .titulo{
        font-size: 42px;
        line-height: 55px;
        padding-top: 34px;
        padding-bottom: 29px;
    }
    .subtitulo{
        line-height: 22.5px;
        color: #303134;
        font-weight: 500;
    
    }
    .noticia-com-imagens{
        display: flex;
        height: 338px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6e6;
    
    }
    
    .noticia-com-imagens .news-img .titulo-da-foto{
        width: 192px;
    }
    
    .noticia-com-imagens .news-img .texto-underphoto{
        width: 192px;
    }
    
    .texto-underphoto{
        border-bottom: none;
        font-size: 14px;
        letter-spacing: -0.048em;
        color: #2F3134;
    }
    .news-img{
        border-bottom: none;
    }
    
    .noticia-e-foto{
        flex-direction: column;
    }
    .foto img{
        width: 193px;
        border-radius: 12px;
        margin: 0;
        
    }
    .titulo-da-foto{
        font-size: 20px;
        letter-spacing: -0.045em;
        color: #2F3134;
        width: 240px;
    }
    .titulo-da-foto p{
        color: #C4170C ;
        line-height: 18px;
        padding-top: 11px;
    
    }
    .noticias-texto{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 227px;
    }
    .bloco-texto{
        width: 192px;
        font-size: 20px;
        letter-spacing: -0.045em;
        color: #2F3134;
    }
    .tema {
        color: #C4170C;
        line-height: 18px;
        margin-top: 0;
        letter-spacing: -0.02em;
        margin-bottom: 6px;
    }
    .secundary-news{
        padding-left: 35px;
        display: flex;
        justify-content: center;
    }
    .block-text-img {
        flex-direction: column;
    
        
    }
    .blocknews-maior .titulo-da-foto p{
        color: #16AE54;
    }
    
    
    .blocknews-maior{
        padding-right: 35px;
        border-right: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caixa-maior{
        width: 240px;
    }
    .caixa-menor .titulo-da-foto p{
        color: #EC8006;
    }
    .blocknews-maior .caixa-maior{
        height: 345px;
    }
    .blocknews-menor{
        margin-left: 36px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .caixa-menor .caixa-maior{
        padding-bottom: 59px;
    }
    .imgnews-maior img{
        width: 240px;
        border-radius: 12px;
        margin-right: 0;
    }

    /*Aqui vai ser a tela intermediária*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 992px) {
.container-geral{
    max-width: 1250px;
}

.menu-mobile{
    display: none;
}
.menu-web {
height: 44px;
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}
.menu-web li {
font-size: 19px;
align-items: center;
line-height: 23.75px;
}
a {
text-decoration: none;
color: unset;
}
.red {
color: #C3170C;
}
.blue {
color: #1E4B9B;
}
.dark-green{
color: #006766;
}
.green {
color: #07AA47;
}
.orange-dark{
color: #E3662B;
}
.pink-red{
color: #FB0735;
}
.pink{
color: #FF75BB;
}
.orange {
color: #EC7D00;
}
.gray {
color: #323333;
}
.violet{
color: #A81D83;
}


.body-news {
    flex-direction: row;
    padding-top: 36px;
}
.logo-img{
    background-image: url("./img/logo-desktop.jpeg");
}
.principal-news{
    width: 666px;
    border-right: 1px solid #e6e6e6;
    padding-right: 42px;
}
.manchete{
    height: 346px;
}
.titulo{
    font-size: 52px;
    line-height: 65px;
    padding-top: 34px;
    padding-bottom: 29px;
}
.subtitulo{
    line-height: 22.5px;
    color: #303134;
    font-weight: 500;

}
.noticia-com-imagens{
    display: flex;
    height: 338px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;

}

.noticia-com-imagens .news-img .titulo-da-foto{
    width: 192px;
}

.noticia-com-imagens .news-img .texto-underphoto{
    width: 192px;
}

.texto-underphoto{
    border-bottom: none;
    font-size: 14px;
    letter-spacing: -0.048em;
    color: #2F3134;
}
.news-img{
    border-bottom: none;
}

.noticia-e-foto{
    flex-direction: column;
}
.foto img{
    width: 193px;
    border-radius: 12px;
    margin: 0;
    
}
.titulo-da-foto{
    font-size: 20px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 240px;
}
.titulo-da-foto p{
    color: #C4170C ;
    line-height: 18px;
    padding-top: 11px;

}
.noticias-texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 227px;
}
.bloco-texto{
    width: 192px;
    font-size: 20px;
    letter-spacing: -0.045em;
    color: #2F3134;
}
.tema {
    color: #C4170C;
    line-height: 18px;
    margin-top: 0;
    letter-spacing: -0.02em;
    margin-bottom: 6px;
}
.secundary-news{
    padding-left: 35px;
    display: flex;
}
.block-text-img {
    flex-direction: column;

    
}
.blocknews-maior .titulo-da-foto p{
    color: #16AE54;
}


.blocknews-maior{
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caixa-maior{
    width: 240px;
}
.caixa-menor .titulo-da-foto p{
    color: #EC8006;
}
.blocknews-maior .caixa-maior{
    height: 345px;
}
.blocknews-menor{
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.caixa-menor .caixa-maior{
    padding-bottom: 59px;
}
.imgnews-maior img{
    width: 240px;
    border-radius: 12px;
    margin-right: 0;
}

}