@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap");

body {
  font-family: "Encode Sans", sans-serif;
  background-size: cover;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-geral{
  padding: 0 15px;
  max-width: 576px;
}

.topMenu {
  height: 139px;
  border-bottom: 1px solid #e6e6e6;
}
.logo {
  
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.logo-img {
  background-image: url("./img/logo-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 208px;
  height: 57px;
  margin: 10px 83px;
}
.menu-web{
  display: none;
}
.menu-mobile {
  height: 58px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile li {
  font-size: 19px;
  align-items: center;
}
a {
  text-decoration: none;
  color: unset;
}
.red {
  color: #a80001;
}
.green {
  color: #06aa48;
}
.orange {
  color: #ff7f00;
}
.gray {
  color: #666666;
}
.blue {
  color: #0769de;
}
.body-news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.principal-news {
  color: #cd150b;
}
.manchete {
  border-bottom: 1px solid #e6e6e6;
}
.manchete p {
  margin-bottom: 5px;
}
.news-img {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}
.noticia-e-foto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  padding: 16px 0;
  font-size: 32px;
  line-height: 40px;
}
.titulo-da-foto {
  width: 211px;
  font-size: 18px;
  line-height: 25px;
}
.titulo-da-foto p {
  font-weight: 500;
  font-size: 14px;
}
.subtitulo {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 25px;
}
.foto img {
  width: 120px;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 13px;
}
.texto-underphoto {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e6e6e6;
}
.tema {
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.bloco-texto {
  font-size: 18px;
  line-height: 25px;
}
.blocknews-maior{
    color:#06AA48;
}
.block-text-img{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.imgnews-maior img{
    border-radius: 4px;
    width: 120px;
    margin-right: 8.5px;
    
}
.blocknews-menor{
  color:#FF8203;
}
